/* 
    Document   : seleccionweb-ie6
    Created on : 28-feb-2011, 9:08:04
    Author     : edcalo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

form label {
    background: #fff;
}
